$themeColor:#00a0e9;
.s-btn{
	min-width: 30px;
	min-height: 20px;
	padding:6px 10px;
    border-radius: 4px;
  //  box-sizing: content-box;
    outline: none;
	font-size: 14px;
	text-align: center;
	color: #fff;
	border: 0;
	cursor: pointer;
}

/* 字体图标按钮，hover图标从上滑下来 */
.s-Naira{
	overflow: hidden;
	position: relative;
	height:20px;
	line-height:20px;
	$color:#37474f;
	color:$themeColor ;
    border:1px solid  $themeColor;
    &:hover{
		i{
			transform: translateY(0);
	    }
	} 
    i{
    	color:white;
    	background: $themeColor;
    	position: absolute;
    	top:0;
    	left:0;
    	width: 100%;	
		height:100%;	
		transform:translate3d(0,-110%,0);	
		transition: transform .3s ease ;
		line-height:30px;
		border-radius:inherit;
    }
}

/* 内部扩张效果 */
.s-sacnite{
	position: relative;
	box-sizing:border-box;
	border:2px solid $themeColor;
	transition: color .3s,transform .1s linear .1s;
	&:hover{
		color:$themeColor;
		&:before{
			transform:scale(1);
		}

	}
	&:before{
		content:"";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #fff ;
		transform:scale(0);
		transition:transform .3s linear;
		border-radius:inherit;
	}
	&:active{
		transform:scale(1.2);
	}
}

/* 外部扩张动弹效果 */
.s-moema{
	position: relative;
	transition:transform .2s linear; 
	&:hover{
		animation:moema .3s forwards ;
		&:before{
			animation:moema_1 .3s .14s forwards ;
		}

	}
	&:before{
		content:"";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity:0.4;
		border-radius:4px;
		background: inherit ;
		transform:scale(0.8);
		transition:transform .3s linear; 
		z-index:-1;
		border-radius:inherit;
	}
	/* &:active{
		&:before{
			animation:moema_1 .2s  forwards ;
		}
	} */
	
}

/* 内部往两边展开 */
.s-spread{
	position: relative;
	background: none;
	border: 1px solid $themeColor;
	color:$themeColor;
	transition: color .4s ease-out;
	box-sizing: border-box;
	&:before{
		content:"";
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background: $themeColor;
		transition: transform .4s ,opacity .4s ;
		transition-timing-function: cubic-bezier(.2,1,.3,1);
		transform: scale3d(.7,1,1);
		z-index:-1;
		border-radius:inherit;
	}

	&:hover{
		color: white;
		&:before{
			transform: scale3d(1,1,1);
			opacity: 1;
		}
	}
}

/* 左侧滑动效果*/
.s-Toslide{
	position: relative;
	transition: color .4s ease ;
	&:before{
		content:"";
		position: absolute;
		top:0;
		left:0;
		height: 100%;
		width: 0;
		background: white;
		transition: width .4s ease ;
		border-radius: inherit;
		border-radius:inherit;
	}
	span{
		position: relative;
		z-index: 2;
	}
	&:hover{
		color:$themeColor;
		&:before{
			width: 100%;
		}
	}
}

/* 边框从里面出来 */
.s-borOut{
	position: relative;
	background: $themeColor;
	color: white;
	transition: color .4s ease,background .4s ease;
	&:before{
		content:"";
		position: absolute;
		border-radius: inherit;
		top:0;
		left: 0;
		width:100%;
		height: 100%;
		border:1px solid $themeColor;
		transition: transform .4s ,opacity .4s;
		transition-timing-function: cubic-bezier(.75,0,.125,1);
		transform: scale3d(.6,.6,1);
		opacity: 0;
	//	z-index: -1;
		border-radius:inherit;
	}
	&:hover{
		color:$themeColor;
		background: white;
		&:before{
			
			transform: scale3d(1,1,1);
			opacity: 1;
		}
	}

}

/* 边框从外面进来 */
.s-borIn{
	position: relative;
	background: $themeColor;
	color: white;
	transition: color .4s ease ,background .4s ease;
	&:before{
		content:"";
		position: absolute;
		border-radius: inherit;
		top:0;
		left: 0;
		width:100%;
		height: 100%;
		border:1px solid $themeColor;
		transition: transform .4s ,opacity .4s;
		transition-timing-function: cubic-bezier(.75,0,.125,1);
		transform: scale3d(1.2,1.2,1)  ;
		opacity: 0;
	//	z-index: -1;
		border-radius:inherit;
	}
	&:hover{
		color:$themeColor;
		background: white;
		&:before{
			
			transform: scale3d(1,1,1);
			opacity: 1;
		}
	}

}

/* 图标从下面斜线上来出现 */
.s-shikoba{
	position: relative;
	border: 1px solid $themeColor;
	color:$themeColor;
	background: none;
	transition: color .4s ease-out ,background .4s ease-out;
	overflow: hidden;
	i{
		position: absolute;
		transition: transform .4s ;
		transition-timing-function: cubic-bezier(.75,0,.125,1);
		transform: translate3d(-50px,40px,0);
	}
	span{
		display: inline-block;
		transition: transform .4s;
		transition-timing-function: cubic-bezier(.75,0,.125,1);
	}

	&:hover{
		background: $themeColor;
		color:white;
		i{
			transform: translate3d(-10px,4px,0);;
		}
		span{
			transform: translateX(10px)  ;
		}
	}
}



@keyframes moema{
	60% {
    transform: scale(.8,.8);
	}

	85% {
	    transform: scale(1.1,1.1);
	}
	100% {
	    transform: scale(1,1);
	}
}

@keyframes moema_1{
	 to {
        opacity: 0;
        transform: scale(1.3,1.8)
    }
}

/* 下落的闪亮效果 */
%position{
		content:"";
		position: absolute;
		width: 100%;
		height: 100%;
		transition:transform .2s cubic-bezier(.75,0,.125,1);
		top: -100%;
		left: 0;
		z-index:-1;
		border-radius:inherit;
}
.s-aylen{
	background: $themeColor;
	position: relative;
	z-index:1;
	overflow:hidden;
	&:hover{
		&:before{
			transform:translateY(100%);
		}
		&:after{
			transform:translateY(100%);
			transition-delay:.2s;
		}

	}
	
	&:before{
		@extend %position;
		background: lighten($themeColor,30%) ;

	}

	&:after{
		@extend %position;
		background: lighten($themeColor,10%) ;
	}
	
}

/*描边效果 */

%position_1{
	content:"";
	position: absolute;
	width: 0;
    height: 0;
    border: solid 2px transparent;
    z-index: 3;
    box-sizing: border-box;
	border-radius:inherit;
}
.s-dashBtn{
	background: none;
	color: $themeColor;
	position: relative;
	&:before{
		@extend %position_1 ;
		top:0;
		left:0;
		transition: border-color 0s ease-in .8s,width .2s ease-in .6s,height .2s ease-in .4s;
	}
	&:after{
		@extend %position_1 ;
		right: 0;
		bottom: 0;
	    transition: border-color 0s ease-in .4s,width .2s ease-in .2s,height .2s ease-in;
	}
	&:hover{
		&:before{
			border-top-color: $themeColor;
		    border-right-color: $themeColor;
		    width: 100%;
		    height: 100%;
		    transition: border-color 0s ease-out 0s,width .2s ease-out 0s,height .2s ease-out .2s;

		}
		&:after{
			border-bottom-color:$themeColor;
		    border-left-color: $themeColor;
		    width: 100%;
		    height: 100%;
		    transition: border-color 0s ease-out .4s,width .2s ease-out .4s,height .2s ease-out .6s;
				}
	}
}

/* 背景斜切 */
.s-bevell{
	position: relative;
	overflow:hidden;
	border: 1px solid $themeColor;
	background: none;
	color:$themeColor;
	transition:color .2s linear .1s;
	&:before{
		content:"";
		position: absolute;
		width:150%;
		height:100%;
		top: 0;
		left: 0;
		background: $themeColor;
		transition:transform .3s linear;
		transform:rotate(-90deg);
		transform-origin: 0 100%;
		border-radius:inherit;

	}
	span{
		position: relative;
		z-index: 2;
	}
	&:hover{
		color:white;
		&:before{
			transform:rotate(0deg);
		}
	}

}



/* 波浪效果 */
.m-rippleBtn{
	position: relative;
	overflow:hidden;
	//background:$themeColor;
	.u-ripple{
		position: absolute;
		z-index:10;
		width: 100%;
		height: 100%;
		border-radius:100%;
		transform: scale(0);
		animation-name:ripple;
		animation-timing-function:linear;
	}
}
@keyframes ripple{
	100%{
		opacity:0;
		transform: scale(2.5);
	}
}
