$themeColor:#00a0e9;
.page{
	padding:20px 20px;
	overflow:hidden;
	z-index:1;
	@at-root{
		.optBox{
			display: flex;
			justify-content: space-between;
		    align-items: center;
	        margin-bottom: 12px;
		}
		.btnBox{
			display: flex;
			&>div{
				margin-right:20px;
				&:last-child{
					margin-right:0px;
				}
			}
		}
	}
}


/* 活跃状态 */
.active{
	color:$themeColor;
}


/* 输入框 */
.s-inp{
	height: 30px;
	border:0;
	outline:0;
	font:{
		weight:bolder;
	};
	box-sizing:border-box;
}
/* 分割线 */
.s-Divider{
	display:inline-block;
	margin:0 5px ;
	width: 2px;
	height:18px;
	background: white;
	border-radius:2px;
}

