

$color:white;
$themeColor:#00a0e9;

.drop-menu{
	cursor:pointer;
	position: relative;
	z-index:2;
	@at-root{

		.menu-btn{
			padding:8px 10px;
			background: $themeColor;
			border-radius:5px;
			color:$color;
			&>span{
				display:inline-block;
				vertical-align: middle;
			}	
		}
		.dropmenu-icon{
			transition: transform .3s ease-out;
		}
		.menu-box{
			position: absolute;
			color:$color;
		//	width: 100%;
			width: 150px;
		}
		.menu-item{
			    width: 100%;
			    height: 34px;
				position: absolute;
				background: $themeColor;
				padding:6px 10px;
				box-sizing:border-box;
				margin:2px 0;
				transition: all .3s ease;
				opacity:0;
			    pointer-events: none;
		}

		.menu-item:nth-child(2n){
				left:100px;
		}

		.menu-item:nth-child(2n-1){
				left:-100px;
		}

	}
}

.drop-menu.active{
		.dropmenu-icon{
			transform: rotate(180deg);
		}
		.menu-item{
			left:0;
			opacity:1;
			pointer-events: auto;
		}
}

.cd-dropdown,
.cd-select {
	position: relative;
	width: 65px;
	display: block;
	font-size:14px;
}

.cd-dropdown > span {
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #999;
	font-weight: 700;
	background: #fff;
	display: block;
	padding: 0 32px 0 10px;
	position: relative;
	cursor: pointer;
}

.cd-dropdown > span:after {
	content: '\25BC';
	position: absolute;
	right: 0px;
	top: 7%;
	width: 32px;
	text-align: center;
	font-size: 12px;
	height: 70%;
	line-height: 24px;
	border-left: 1px solid #ddd;
}

.cd-dropdown.cd-active > span:after {
	content: '\25B2';
}

.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}

.cd-dropdown ul li {
	display: block;
}

.cd-dropdown ul li span {
	width: 100%;
	background: #fff;
	line-height: 30px;
	width: 96px;
	padding-left:10px;
	display: block;
	cursor: pointer;
	font-weight: 700;
	border-bottom:1px solid #E3E3E3; 	
}

.cd-dropdown > span,
.cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"]{
	padding: 0 30px 0 45px;
}

/* Select fallback styling */
.cd-select {
	border: 1px solid #ddd;
}

/* ****************************************字体颜色************************************************/
.fa-ban,.fa-trash-o{
	color: red;
}
.fa-soundcloud{
	color:green;
}
.md-modal-main .warnTxt{
  color: red;
  font-size: 1.3em;
  font-weight: bolder;
}
.cd-dropdown ul {
			position: absolute;
			top: 0px;
			width: 100%;
		}
    .cd-dropdown span.fa {
     line-height: 30px;
    }

		.cd-dropdown > span {
			box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		}

		.cd-dropdown ul li {
			position: absolute;
			width: 100%;
			pointer-events: none;
		}
		.cd-dropdown ul li span{
			border-bottom:1px solid #E3E3E3 ;
		}

		.cd-active.cd-dropdown > span {
			color: #e66b20;
		}

		.cd-active.cd-dropdown ul li {
			pointer-events: auto;
		}

		.cd-active.cd-dropdown ul li span {
			-webkit-transition: all 0.2s linear 0s;
			-moz-transition: all 0.2s linear 0s;
			-ms-transition: all 0.2s linear 0s;
			-o-transition: all 0.2s linear 0s;
			transition: all 0.2s linear 0s;
		}

		.cd-active.cd-dropdown ul li span:hover {
			background: #e66b20;
			color: #fff;
		}