$themeColor:#00a0e9;
$height:46px;
$active:#BDE4F4;
$duration:.3s;

.s-md-overlay{
	position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    background: #454A52;
    transition: all $duration;
}
.m-show~.s-md-overlay {
    opacity: .6;
    visibility: visible;
}

.s-modal{
	position: absolute;
	top:50%;
	left:50%; 
	min-width: 450px;
	min-height: 250px;
	visibility:hidden;
	display:none;
	transform: translate3d(-50%,-50%,0); // 用translate3d 可以解决字体抖动的问题
    z-index:10;
	.m-content{
		border-radius:6px;
		background: #fff;
	    /* border: 2px solid transparent;
    		border-image: linear-gradient(to top, #F80, #2ED);
    		border-image-slice: 10; */
		box-shadow: 2px 2px 27px #ddd;
		/* &>div{
			width:100%;
			box-sizing: border-box;
		} */
	}
	.m-title{
		position: relative;
		text-align:center;
		height: $height;
		line-height:$height;
		border-bottom: 1px solid $themeColor;
		cursor:move;
		box-sizing: border-box;
	}
	
	.m-close-icon{
		line-height:0;
		color:$themeColor;
		position: absolute;
		top:14px;
		right:14px;
		cursor: pointer;
		background:transparent; 
		transition: transform .3s ease ;
		&:hover{
			transform:scale(1.8);
		}
	}
	.m-txt{
		font-size:16px;
		color:$themeColor;
	}
    	
	
	.m-action{
		padding:12px;
		min-height: 80px;
	}
	.tip-txt{
		padding:10px;
		text-align:center;
		font:{
			size:16px;
			weight:bolder;

		}
		i{
			color:red;
		}
	}
	.m-foot{
		height:$height;
		text-align:center;
		.m-close{
			color: $themeColor;
	    	background: none;
		}	
		.s-btn{
			padding:8px 24px;
		}	
	}
}
.s-modal.m-show{
	visibility:visible;
	.m-content{
		transform:translate3d(0,0,0);
		opacity:1;
	}
}
/* right to left */
.s-effect-1{
	.m-content{
		transition: all $duration cubic-bezier(.25,.5,.5,.9);
		transform:translateX(100%);
		opacity:0;
	}
	
}
/* 3d翻转 */
.s-effect-2{
	perspective: 1300px;
	.m-content{
		transition: all $duration cubic-bezier(.25,.5,.5,.9);
		transform-style: preserve-3d;
		transform: rotateX(-70deg);
		opacity:0;
	}
}