.s-tableBox{
	position: relative;
	color:white;
	margin:auto;
	height: 100%;
	.s-table-title{
		height:24px;
		text-align: center;	
	}
	.tab-head{
	//	width: auto;
		background:#3996a7a1;
		border-radius:4px 4px 0  0;
			position: relative;
			.fixColumn-box{
			background:#3996a7;
			}
	}
	.table-body-wrap {
	//	width: auto;
		border-radius:0 0 8px  8px;
		height: 100%;

		tr:hover{
			background:#72e9e2eb;
		}
		.tr-bg1{
			background:#1998df8f;
		}
		.tr-bg2{
			background:#2f9f6f73;
		}

		.fixColumn-box{
			.tr-bg1{
			background:#1998df;
		}
		.tr-bg2{
			background:#2f9f6f;
		}
		.foot-bg{
			background:#3996a7;
		}
	}

	}
	.tab-list{
	//	width: 100%;
	//	height: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		table-layout:fixed;
		position: relative;
		td{
			min-width: 80px;
			text-align: center;
			vertical-align: middle;
			padding: 8px 4px;
		}
		th{
			min-width: 80px;
			text-align: center;	
			vertical-align: middle;
		//	border: none;
			padding: 10px 4px;
		}
		.gutter{
			width: 9px;
			min-width: 9px;
			display:none;
		}	
		.foot-bg{
			background:#3996a7a1;
		}
	}

	.table-body-wrap{
		width:100%;
		overflow: auto;
		overflow-x: hidden;
		margin-top: -1px;
		box-sizing:border-box;
		position: relative;
	}

	.fixColumn-box{
		position: absolute;
		top: 0px;
		//left:-4px;
		height: 100%;

	}

}

.border-box{
	.table-body-wrap {
		border:2px solid #3996a7a1;
		border-top:none;
	}
	table.table-body{
		width: auto;
	}
	.tab-head{
		border:2px solid #3996a7a1;
		border-bottom:none;
	}
	table.table-head{
		width: auto;
	}
	td{
		border: 1px solid #3996a7a1;
	}
	th{
		border: 1px solid #3996a7a1;
	}
}
		
.fix-tab:before{
 content: "";
 position: absolute;
 top:0;
 bottom:0;
 right: 0;
 //border-right: 1px solid green;

}
.fix-tab:after{
 content: "";
 position: relative;
 display: block;
 width: 100%;
 top: -1px;
 height: 0;
// border-bottom: 1px solid green;

}

