.s-tableBox{
	position: relative;
	color:white;
	width:95%;
	margin:auto;
	height: 100%;
	.s-table-title{
		height:24px;
		text-align: center;	
	}
	.tab-head{
		//background:#2E4289;
		background:#3996a7a1;
		border-radius:4px 4px 0  0;
	}
	.table-body-wrap {
		border-radius:0 0 8px  8px;
		tr:hover{
			background:#72e9e2eb;
		}
		.tr-bg1{
			background:#1998df8f;
		}
		.tr-bg2{
			background:#2f9f6f73;
		}

	}
	.tab-list{
		width: 100%;
		height: 100%;
		
		border-collapse: collapse;
		border-spacing: 0;
		table-layout:fixed;
		position: relative;
		td{
			text-align: center;
			vertical-align: middle;
		//	border: none;
			padding: 8px 0;
		}
		th{
			text-align: center;	
			vertical-align: center;
			border: none;
			padding: 10px 0;
		}
		.gutter{
			width: 16px;
			display:none;
		}	
		.foot-bg{
			background:#3996a7a1;
		}
	}

	.table-body-wrap{
		width:100%;
		overflow: auto;
		overflow-x: hidden;
		margin-top: -1px;
		box-sizing:border-box;
	}

}

.border-box{
	.table-body-wrap {
		border:2px solid #3996a7a1;
		border-top:none;
	}
	.table-body{
		border-color: #3996a7a1;
	}
	.tab-head{
		border:2px solid #3996a7a1;
		border-bottoms:none;
	}
}
		
.fix-tab:before{
 content: "";
 position: absolute;
 top:0;
 bottom:0;
 right: 0;
 //border-right: 1px solid green;

}
.fix-tab:after{
 content: "";
 position: relative;
 display: block;
 width: 100%;
 top: -1px;
 height: 0;
// border-bottom: 1px solid green;

}