.org-box{
	margin-top:10px;
	min-width:500px;
	height:0px;
	transition: all .3s ease-out;
	overflow:hidden;
	visibility:hidden;
	opacity:0;
	.org-title{
		background: $themeColor;
		height:48px;
		padding:0 10px;
		border-radius:4px;
		display:flex;
		justify-content: space-between;
		align-items:center;
		color:white;
		.search-close{
			color:white;
		}
	}
	.org-content{
		display:flex;
		background: #fff ;
		height: calc(100% -  48px);

	}
	@at-root{
		.org-item{
				height:100%;
				overflow:auto;
				.par-menu{
					overflow:hidden;
				}
				.menuItem{
					$paddingH:8px;
					position:relative;
					padding: $paddingH 0;
					border-bottom:1px solid grey;
					
					.slide-icon{
						position:absolute;
						padding:$paddingH/2 8px;
						top:$paddingH/2;
						right:$paddingH;
						background:$themeColor ;
						color:white;
						border-radius:100%;
						cursor:pointer;
						transition: all .3s ease ;
					}
					
				}
				.org-active{
						.slide-icon{
							transform: rotate(-180deg);
						}
						.fa-folder-open-o:before{
							content:"\f114";
						}
						
				}
				.sel-item{
					padding-left:10px;
					.fa{
						font-size:18px;
					}
				}
		}
	}
}

.indent{
	padding:0 8px;
}