@font-face {
  font-family: 'SEkin';
  src:  url('fonts/SEkin.eot?quzal1');
  src:  url('fonts/SEkin.eot?quzal1#iefix') format('embedded-opentype'),
    url('fonts/SEkin.ttf?quzal1') format('truetype'),
    url('fonts/SEkin.woff?quzal1') format('woff'),
    url('fonts/SEkin.svg?quzal1#SEkin') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'SEkin' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sicon-pre:before {
  content: "\e956";
}
.sicon-save-as:before {
  content: "\e957";
}
.sicon-back:before {
  content: "\e958";
}
.sicon-export:before {
  content: "\e959";
}
.sicon-save:before {
  content: "\e95a";
}
.sicon-kpi:before {
  content: "\e95b";
}
.sicon-wd-kpi:before {
  content: "\e95c";
}
.sicon-detail:before {
  content: "\e95f";
}
.sicon-org:before {
  content: "\e960";
}
.sicon-warn:before {
  content: "\e961";
}
.sicon-error:before {
  content: "\e962";
}
.sicon-styles:before {
  content: "\e931";
}
.sicon-set-2:before {
  content: "\e933";
}
.sicon-par-1:before {
  content: "\e936";
}
.sicon-par-2:before {
  content: "\e934";
}
.sicon-par-3:before {
  content: "\e938";
}
.sicon-par-4:before {
  content: "\e94a";
}
.sicon-par-5:before {
  content: "\e952";
}
.sicon-par-6:before {
  content: "\e955";
}
.sicon-par-7:before {
  content: "\e939";
}
.sicon-par-8:before {
  content: "\e954";
}
.sicon-par-9:before {
  content: "\e947";
}
.sicon-par-10:before {
  content: "\e94d";
}
.sicon-par-11:before {
  content: "\e941";
}
.sicon-par-12:before {
  content: "\e943";
}
.sicon-par-13:before {
  content: "\e94c";
}
.sicon-par-14:before {
  content: "\e93b";
}
.sicon-par-15:before {
  content: "\e948";
}
.sicon-menu-1:before {
  content: "\e930";
}
.sicon-slide-close:before {
  content: "\e900";
}
.sicon-slide-open:before {
  content: "\e932";
}
.sicon-menu-2:before {
  content: "\e94f";
}
.sicon-menu-3:before {
  content: "\e951";
}
.sicon-menu-4:before {
  content: "\e91b";
}
.sicon-menu-5:before {
  content: "\e935";
}
.sicon-table:before {
  content: "\e901";
  color: #1296db;
}
.sicon-component .path1:before {
  content: "\e902";
  color: rgb(33, 150, 243);
}
.sicon-component .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(33, 150, 243);
}
.sicon-component .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(77, 183, 252);
}
.sicon-rader .path1:before {
  content: "\e905";
  color: rgb(255, 255, 255);
}
.sicon-rader .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(238, 238, 238);
}
.sicon-rader .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(32, 45, 71);
}
.sicon-rader .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(34, 124, 229);
}
.sicon-rader .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(37, 113, 203);
}
.sicon-rader .path6:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(32, 45, 71);
}
.sicon-rader .path7:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(45, 205, 84);
}
.sicon-rader .path8:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(49, 185, 82);
}
.sicon-rader .path9:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(32, 45, 71);
}
.sicon-rader .path10:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(32, 45, 71);
}
.sicon-rader .path11:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(32, 45, 71);
}
.sicon-rader .path12:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(32, 45, 71);
}
.sicon-scatter .path1:before {
  content: "\e911";
  color: rgb(196, 121, 12);
}
.sicon-scatter .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 160, 233);
}
.sicon-scatter .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(245, 172, 91);
}
.sicon-scatter .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(18, 84, 107);
}
.sicon-scatter .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(191, 192, 24);
}
.sicon-scatter .path6:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 232, 110);
}
.sicon-scatter .path7:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(42, 156, 196);
}
.sicon-scatter .path8:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(115, 203, 234);
}
.sicon-scatter .path9:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 160, 233);
}
.sicon-pie:before {
  content: "\e91a";
  color: #00a0e9;
}
.sicon-set-12:before {
  content: "\e91c";
  color: #00a0e9;
}
.sicon-view-mode:before {
  content: "\e91d";
  color: #00a0e9;
}
.sicon-img:before {
  content: "\e91e";
  color: #00a0e9;
}
.sicon-folder:before {
  content: "\e91f";
  color: #5282c3;
}
.sicon-text:before {
  content: "\e920";
  color: #00a0e9;
}
.sicon-line .path1:before {
  content: "\e921";
  color: rgb(0, 0, 0);
}
.sicon-line .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.sicon-line .path3:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(28, 150, 212);
}
.sicon-line .path4:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.sicon-line .path5:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(28, 150, 212);
}
.sicon-bar .path1:before {
  content: "\e926";
  color: rgb(0, 0, 0);
}
.sicon-bar .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.sicon-bar .path3:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.sicon-bar .path4:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(28, 150, 212);
}
.sicon-bar .path5:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(191, 192, 24);
}
.sicon-bar .path6:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(245, 172, 91);
}
.sicon-bar .path7:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.sicon-btn-1:before {
  content: "\e92e";
}
.sicon-btn-2:before {
  content: "\e92f";
}
.sicon-btn-3:before {
  content: "\e937";
}
.sicon-btn-4:before {
  content: "\e93a";
}
.sicon-child-1:before {
  content: "\e93c";
}
.sicon-child-2:before {
  content: "\e93d";
}
.sicon-child-3:before {
  content: "\e93e";
}
.sicon-child-4:before {
  content: "\e93f";
}
.sicon-child-5:before {
  content: "\e940";
}
.sicon-child-6:before {
  content: "\e942";
}
.sicon-child-7:before {
  content: "\e944";
}
.sicon-child-8:before {
  content: "\e945";
}
.sicon-child-9:before {
  content: "\e946";
}
.sicon-child-10:before {
  content: "\e949";
}
.sicon-child-11:before {
  content: "\e94b";
}
.sicon-child-12:before {
  content: "\e94e";
}
.sicon-child-13:before {
  content: "\e92d";
}
.sicon-child-14:before {
  content: "\e950";
}
.sicon-child-15:before {
  content: "\e953";
}
