$themeColor:#00a0e9;
$title:80px;
$border:#E9E9E9;
#app{
	width:100%;
	height:100%;
	position: relative;
	header{
		position: relative;

	}
	
}
.s-btn{
		color:black;
	}
@mixin shadow-space($radius:4px) {
	background-color: #ffffff;
	box-shadow: 2px 3px 18px 0px rgba(0, 0, 0, 0.26);
	border-radius: $radius;
}
@mixin triangle($top,$left,$borderW){
	content:"";
	position: absolute;
	top:$top;
	left:$left;
	width: 0;
	height: 0;
	border:$borderW solid transparent;
	border-bottom-color:white;
}

@mixin init-status($dur:0.3s){
	//opacity:0;
	//visibility:hidden;
	//transition: all $dur ease;
	display:none;
}

@mixin active(){
	//opacity:1;
//	visibility:visible;
	display:block;
}

.view-title{
		position: absolute;
		color:white;
		font-size:28px;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		letter-spacing:1rem;
}
.header{
	height: $title;
	position: relative;
	background-color: #000;
	color:white;
	display:flex;
	justify-content: space-between;
	align-items:center;
	padding: 0 20px;
	font-size:18px;

	.back{
		cursor: pointer;
		text-align:center;
		padding:0 15px;
		&:hover{
			transform:scale(1.2);
			color:white;
		}
		transition: transform .3s ease-in ,color .3s ease-out;
		font:{
			size:40px;
		}
	}
	@at-root{
		.opt-box{
			.head-btn{
				cursor: pointer;
				text-align:center;
				padding:0 15px;
				&:after{
					content: attr(echo-text);
					display:block;
					padding-top:5px;
					font-size:12px;
					font-weight:bolder;
				}
			}		
		}


		.global-box{
			position: absolute;
			left:96px;
			top:70px;
			width:320px;
			background: #fff;
			z-index:10;
			font-size:14px;
			color:black;
			@include shadow-space(8px);
			@include init-status;
			&:before{
				@include triangle(-16px,30px,8px);
			}

			.theme-container{
				width:90%;
				margin:10px auto;
				padding:10px ;
				border-radius:8px;
				box-sizing:border-box;
				background: #eff1f3;
			}
			.theme-box{
				display:flex;
				flex-wrap:wrap;
				justify-content: space-around;
				margin:10px 0;
				.theme-item{
					position: relative;
					width:28%;
					height:50px;
				//	overflow:hidden;
					background-image: url("../img/bg_sprite.png");
					background-repeat:no-repeat;
					border-radius:4px;
			        cursor: pointer;
					transition: all .3s ease-out;
			        &:hover{
			        	transform: scale(1.3);
			        	@include shadow-space;
			        }

				}
				.theme-item.active{
			        &:before{
			        	content:"";
			        	position: absolute;
			        	width:100%;
			        	height:100%;
			        	border:1px solid $themeColor;
			        	transform:scale(1.2);
			        	border-radius:inherit;
			        	z-index:10;
			        }
				}
				&:first-child{
					@for $i from 1 through 3{
						.theme-item:nth-child(#{$i}){
							background-position:  -90px*($i - 1) 0;
						}
					}
				}
				&:last-child{
					@for $i from 1 through 3{
						.theme-item:nth-child(#{$i}){
							background-position:  -265px - 90px*($i - 1) 0;
						}
					}
				}
				
			}

			.list-arr{
			  width:100%;
			  box-sizing:border-box;
			  display:flex;
			  padding:12px 8px;
			  justify-content: space-around;
			  .border-item{
			  	position: relative;
				 width:26%;
			     height:60px;
			     border-radius:4px;
			     cursor: pointer;
			 //	 overflow:hidden;
			 	 transition: all .3s ease-out;
				background-image: url("../img/border_sprite.png");
				background-repeat:no-repeat;
				 &:hover{
			        	transform: scale(1.3);
			        	@include shadow-space;
		        }
			  }	


			  @for $i from 1 through 3{
				.border-item:nth-child(#{$i}){
					background-position:  -95px*($i - 1) 0;
				}
			}
				

			}
			.footer{
				border-top:2px solid $border;
				text-align:right;
				padding:8px 20px;
			}

		}
		.global-box.active{
			@include active;
		}
	}
	
	.opt-box{
		display:flex;	
		align-items:center;
		color:#00b0e4;
		.head-btn{
			&:hover{
				color:white;
			}
		}
	}
}

/* 全局样式模态框 */

.container{
	height: calc(100% - #{$title});
	position: relative;
	overflow:hidden;
	box-sizing:border-box;
	display:flex;
	aside{
		width:$title;
		height:100%;

		background: white ;
		
}
	section{
		flex:1;
	//	padding: 15px;
		position: relative;
		box-sizing:border-box;
	//	background-image: url(../img/view_bg1.png);
		.view-template{
		   color:white;
		  padding-top:10px;
		}
		.view-item{
			border:1px dashed rgba(255,255,255,0.46);
		}
		.view-item.view-hide{
			display:none;
		}
		.view-item.view-active{
			border:1px solid #e4e5ea;
		}
	}
	.component-title{
		$h:40px;
		text-align:center;
		height:$h;
		line-height:$h;
		border-bottom:2px solid $themeColor;
	}

	@at-root{
		.m-resize{
				position: absolute;
				display:none;
				z-index:10;
				transform:translate(-10px , -10px);
				.coner-mark{
					width:100%;
					width:100%;
					display:inline-block;
				}
				.u-resize-icon{
					position: absolute;
					width: 20px;
					height: 20px;
				//	cursor: crosshair;
					&[sign="t-left"]{
						top:0;
						left:0;
						cursor: move;

					}
					&[sign="t-middle"]{
						top:0;
						left:50%;
						transform:translateX(-50%);
						cursor: row-resize;
					}
					&[sign="t-right"]{
						top:0;
						right:0;
						cursor: move;
						g{
							transform:scale(-1 ,1) translateX(-20px)
						}
					}
					&[sign="m-left"]{
							top:50%;
							left:0;
							transform:translateY(-50%);
							cursor: col-resize;
					}
					&[sign="m-right"]{
						top:50%;
						right:0;
						transform:translateY(-50%);
						cursor: col-resize;
						g{
							transform:scale(-1 ,1) translateX(-20px)
						}
					}
					&[sign="b-left"]{
						bottom:0;
						left:0;
						cursor: move;
						g{
							transform:scale(1 ,-1) translateY(-20px)
						}
					}
					&[sign="b-middle"]{
						bottom:0;
						left:50%;
						transform:translateX(-50%);
						cursor: row-resize;
						g{
							transform:scale(1 ,-1) translateY(-20px)
						}
					}
					&[sign="b-right"]{
						bottom:0;
						right:0;
						cursor: move;
						g{
							transform:scale(-1 ,-1) translate(-20px ,-20px)
						}
					}
	
				}
				
			
				
			}
	.components{
			padding:15px 10px;
			box-sizing:border-box;
			display:flex;
			flex-direction:column;
			.component-item{
				text-align:center;
				font-size:0;
				padding:15px 0;
				cursor: pointer;
				&:hover{
					@include shadow-space;
				}
			}
			
			.sicon{
				font-size:32px;
			}
		}
		.template-box{
			position: relative;
			height:100%;
			
			
		}

	}
}


.s-inp{
	background: none;
}
.calendar-inpTxt{
	border-radius: 4px;
	border: solid 2px #e3e3e3;
	width:300px;
	height:40px;
}

#componentName{
	width:300px;
}

/* 模态框 */
.s-modal{
	div.m-content{
		width:850px;
		overflow:hidden;
	}
	.view-logo{
		position: absolute;
		left:20px;
		.sicon{
			font-size:28px;
			vertical-align: middle;
		}
	}
	div.m-title{
		height: 60px;
    	line-height: 60px;
    	text-align:center;
		padding: 0 15px;
	
		.m-txt{
			font:{
				size:16px;
				weigth:bolder;
			}
		}
	}
	.g-tab-box{
		display:flex;
		position: absolute;
		top:10px;
		align-items:center;
		margin-left:50%;
		transform:translateX(-50%);
	}
	.m-tab{
		position: relative;
		padding:10px 12px;
		line-height:14px;
		cursor: pointer;
		border:1px solid $themeColor;
		box-sizing:border-box;
	}
    .tab-progress{
		position: relative;
		width:80px;
		height:2px;
		background: $themeColor ;
    
    }	
	.tab-line{
		position: absolute;
		left:0;
		top:0;
		width:100%; 
		height:100%;
	}
	
    .m-tab:nth-child(1){
  		color:white;
  		background:$themeColor;
  		border:none;
	}
	.m-tab:nth-child(3){
  		
	} 
}
.other{
	 .m-tab:nth-child(1){
  		border:1px solid $themeColor;
	  	color:black;
  		background:none;
	}
	.m-tab:nth-child(3){
	  		color:white;
	  		background:$themeColor;
	  		border:none;
	} 
	.wrap{
		transform:translateX(-840px);
	}
}


.set-component{
	position: relative;
	.wrap{
		width:6000px;
		transition: transform .3s ease;
		&>div{
			width:820px;
			display:inline-block;
			vertical-align: top;
		}
	}
	
	.zbBox{
	/* 	.s-btn{
		background:$themeColor;
	} */
		.cate-box{
			height:370px;
			padding-left:20px;
			overflow:auto;
		}
		.del-zb{
			&:hover{
				color:red;
			}
		}
		.sel-item{
			margin:5px 0;
		}
		.zb-name{
			max-width:200px;
			text-align:left;
			background:#638CCC;
			text-overflow: ellipsis;
		    overflow: hidden;
		    white-space: nowrap;
		}
		.dim-combox{
			margin-left:20px;
			&>span{
				padding-right:20px;
			}
		}
		.dim-item:first-child{
			.zb-name{
			  margin:10px 10px 10px 0;
			}
		}
		.zb-dim-combobox{
			margin-left:10px;
			&>span{
				padding-right:10px;
			}	
		}
		@at-root{
			#selZb{
				background:lighten($themeColor,20%);
			}
			.zb-box{
				top:30px;
				z-index:2;
				position: absolute;
				display:none;
				width:360px;
				height:436px;
				z-index:10;
				@include shadow-space;
				@include init-status(0.2s);
				&:before{
					@include triangle(-16px,30px,8px);
				}
				.cate-title{
					border-top:none;
				}
				#zbTree{
				   height:360px;
				}
				.s-tree{
					max-height:330px;
				}
				.zb-opt{
					height:40px;
					line-height:40px;
					text-align:right;
					border-top:2px solid $border;
					&>button{
						margin-right:20px;
					}
				}
			}
			.zb-box.active{
				@include active;
			}

			.setBox{

				
				.m-radio-icon{
					background-image:url("../img/view_icon.png");
					background-repeat:no-repeat;
					display:inline-block;
					width: 20px;
					height: 14px;
					transition:transform .2s ease-out;
					cursor: pointer;
					&:hover{
						transform:scale(1.2);
					}
				}
				margin-left:15px;
				.g-borderStyle{
					display:flex;
					.m-radio-icon{
						width: 52px;
						height: 26px;
					}
					&>span{
						display:flex;
						align-items: center;
					}
				}
			
				.m-border1{
					background-position:0 -70px;
				}
				.m-border2{
					background-position:-50px -70px;
				}
				.m-border3{
					background-position:-100px -70px;
				}
				.u-tab-lab1{
					background-position:0 0;
				}
				.u-tab-lab2{
					background-position:-30px 0;
				}
				.u-bar-lab1{
					background-position:-60px 0;
				}
				.u-bar-lab2{
					background-position:-90px 0;
				}

				.u-line-lab1{
					background-position:-120px 0;
				}
				.u-line-lab2{
					background-position:-150px 0;
				}
				.u-pie-lab1{
					background-position:0 -22px;
				}
				.u-pie-lab2{
					background-position:-30px -22px;
				}
				.u-pie-lab3{
					background-position:-60px -22px;
				}
				.u-pie-lab4{
					background-position:-90px -22px;
				}
				.u-rader-lab1{
					background-position:0 -44px;
				}
				.u-rader-lab2{
					background-position:-30px -44px;
				}
				.u-scatter-lab1{
					background-position:-120px -22px;
				}
				.u-scatter-lab2{
					background-position:-150px -22px;
				}

			}

		}
		
	}
	
}
/* 实时组件模态框 */

#realSelZbs{
	overflow: auto;
	height: 380px;
}
.g-realBox{
	display:flex;
	justify-content: space-between;
	.g-zb{
		width:53%;
		box-sizing:border-box;
	}	
	.g-set{
		width:45%;
		box-sizing:border-box;
	}	
	.dim-item{
		margin:8px;
	}

	.zb-name{
		margin:5px;
	}
	.dim-wdItem{
		.zb-item-box{
			border-bottom:1px solid ;
		}
		
	}
	.dim-item[dim-id="2"]{
		border-bottom:1px solid ;
	}
}





       
