@import "./common/search.scss";

$themeColor:#00a0e9;

/* 添加模态框 */
 #addModal{
 	 width:700px;
	 .calendar-inpTxt{
	 	width:420px;
	 }

	 .m-action {
	    position: relative;
		&>.sel-item{
			margin:8px 0;
		}
	 }
	 .panel-body {
	    border: 1px solid #DDDDDD;
	    box-sizing:border-box;
	}
	
	 .j-mesageTemp{
	 	margin-left:12px;
	 	color:$themeColor;
	 	cursor: pointer;
	 }
	 @at-root{
	 	.m-set{
	 		background: #fff;
	 	}
	 	.g-message{
	 		display:none;
	 		padding:12px;
	 		box-sizing:border-box;
	 		width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0;
			z-index: 2;
	 	}
	 }
	
 }