@import "css/common/search.scss" ;
$themeColor:#00a0e9;
$border:#E9E9E9;
$slectColor:#aee6ff;

/* 选项卡盒子 */
.btnBox{
	&>button{
		margin-left: 20px;
	}
}
/* 表格样式 */
.g-tabBox{
	background: #fff ;
	border-radius:  8px;
	position: relative;
	.g-titleBox{

		height: 40px;
	}
}

#roleCombo{
	.combo-inp{
		border: 1px solid white;
		background:white;
	}
}
.g-limitTab	{
	width: 100%;
	thead{
		background:#AEE6FF;
	}
	th{
		height: 40px;
		padding: 8px 20px;
	}
	td{
		padding: 8px 20px;
	}
	tr:nth-child(2n){
		background: #f1ece2;
	}
	.funBtn{
		margin:10px;
	}
}