@import "css/common/search.scss" ;
$themeColor:#00a0e9;
$border:#E9E9E9;
$slectColor:#aee6ff;

/* 选项卡盒子 */
div.g-tab{
	background: $slectColor;
	padding-left:16px;
	border-radius:8px 8px 0 0;
	padding:10px;
	.m-tab-item.active{
		color:$themeColor;
		&:after{
			transform:scaleX(1)
		}
	}
}

/* 还原模态框 */
#restModal{
	#name{
		width:300px;
	}
}